.App {
  text-align: center;
}
* {
  font-family: 'Comfortaa', cursive;
}
body {
  background-color: #ffffff;
  padding: 10px;
}

.btn-primary:hover,.btn-primary:focus,.btn-primary:active, 
.btn-primary:active:focus:not(:disabled):not(.disabled),
.btn:focus, .btn:active, .btn:hover{
    box-shadow: none!important;
    outline: 0;
}
.container-user-info {
  position: fixed;
  top: 30%;
  left: 40%;
  z-index: 10;
  width: 400px;
  border-radius: 2px;
  box-shadow: #000000 5px;
  
  background-color: #ffffff;
  
}
.info-header {
  background-color: #007CB3;
  color: #ffffff;
  width: 100%;
  text-align: center;
  padding: 10px;
}
.user-info {
  border: 1px solid #007CB3;
  border-radius: 2px;
  padding: 10px;
}