.App {
  text-align: center;
}
* {
  font-family: 'Comfortaa', cursive;
}
body {
  background-color: #f2f2f2;
  
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.btns {
  display: block;
  margin: 25px 25px;
  width: 150px;
  height: 60px;
  background-color: #336600;
  border: 1px solid #585757;
  border-radius: 5px;
  color: #e6f2ff;
}
.btns:hover {
  opacity: 70%;
}
ul {
  list-style-type: none;
}
.Users{
  background-color: #ffffe6;
  border: #282c34 2px solid;
}
.userInfo{
  padding: 5px;
  font-weight: bold;
}
.usersList{
  display: flex;
  border-top: #282c34 1px solid;
  flex-direction: row;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}
.rowBtns {
  position: absolute;
  border: 1px solid #0f0505;
  padding: 5px;
  font-weight: bold;
  border-radius: 4px;

}
.rowBtns:hover {
  opacity: 80%;
}
#edit {
  right: 77px;
  background-color: #336600;
  color: #e6f2ff;
  width: 50px;
}
#delete {
  right: 10px;
  background-color: #cc3300;
}