.App {
  text-align: center;
}
* {
  font-family: 'Comfortaa', cursive;
}
body {
  background-color: #ffffff;
  
}

.btns {
  display: block;
  margin: 25px 25px;
  width: 150px;
  height: 60px;
  background-color: #007DC7;
  border: 1px solid #585757;
  border-radius: 5px;
  color: #e6f2ff;
}
.btns:hover {
  opacity: 70%;
}
ul {
  list-style-type: none;
}
.Users{
  background-color: #d2ebfa;
  border: #282c34 2px solid;
}
.userInfo{
  padding: 5px;
  font-weight: bold;
}
.usersList{
  display: flex;
  border-top: #282c34 1px solid;
  flex-direction: row;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}
.rowBtns {
  position: absolute;
  border: 1px solid #0f0505;
  padding: 5px;
  font-weight: bold;
  border-radius: 4px;

}
.rowBtns:hover {
  opacity: 80%;
}
#edit {
  right: 77px;
  background-color: #336600;
  color: #e6f2ff;
  width: 50px;
}
#delete {
  right: 10px;
  border-style: none;
  background-color: #cc3300;
}
.popup{
  padding: 50px;
  background-color: #ffffff;
  border-radius: 5px;
  align-items: center;
  position: absolute;
  top: 27%;
  left: 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.formInputs{
  width: 300px;
  height: 20px;
  border: 1px solid #007DC7;
  border-radius: 3px;
  padding: 10px;
}
.formInputLabel{
  padding: 5px;
  background-color: #007DC7;
  font-size: 12px;
  font-weight: bold;
  color: #ffffff;
}